<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/checklist"></ion-back-button>
      </ion-buttons>
      <ion-title>results</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <img src="../../assets/shin.png" alt="src">  
<p>Sudden increase the duration, or intensity of exercise
    Runned on uneven ground; such as hills or hard surfaces, such as concrete
</p>
<p>What it is - Plain lined to the shin bone ; the large bone in front of the lower leg.
    <p>Cause - Possible causes are repetitive stress to the shinbone, even the connective tissues that attach to your muscles 
      </p>
      <p>Treatments - 
          Ice
          Rest
          Pain Reliever
          </p>


              
              <ion-button (click)="presentAlert()" fill="solid" color="primary" id="new">Call Professional</ion-button> 
    </ion-content>
  