.pic{
    height: 200px;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
    url("../../../assets/feet.jpg");
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 75px;
    font-weight: 300;
}
.container{
    margin-left: 30px;
    margin-right: 30px;
}
.subtitle{
    color: #3F9F31;
    font-size: 24px;
    margin-top: 30px;
    font-weight: 300;
}
.des{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 300;
}