<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">
        <div class="title">Feet Aches</div>
    </div>

    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            Injury, overuse or conditions causing inflammation
            involving any of the bones, ligaments or tendons in the
            foot can cause foot pain. Arthritis is a common cause of foot pain.


        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            If your pain is in your heel, you may have plantar fasciitis.
            That’s an irritation or inflammation of the band of tough tissue
            connecting the heel bone to the toes.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will reduce any
            inflammation of the band of tough tissue
            connecting the heel bone to the toes.


        </div>
        <br>

        <div>
            <img src="../assets/achersexer.png" />
        </div>

    </div>
</ion-content>