<ion-header>
        <ion-toolbar color="primary">
            <ion-title>Runner's Knee</ion-title>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
            </ion-buttons>
            <!-- <ion-title>Injury</ion-title> -->
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <div class="container">
            <div class="subtitle">
                Symptoms
            </div>
            <div class="des">
                    Runner’s knee is oftentimes caused due to
                    irritation of soft tissues or inner lining of the knee, 
                    worn or torn cartilage, or strained tendons. This is essentially 
                    overuse of the knee, causing mild or severe trauma in whatever your 
                    circumstances may be. Repetitious high-impact activity is usually 
                    the reasoning for discomforting, aching pain around or behind the kneecap. 
                    Runner’s knee can also be a sign of weak, unbalanced thigh muscles or 
                    problems in the feet area.
            </div>
            <div class="subtitle">
                Treatments
            </div>
            <div class="des1">
                In order to treat this problem, follow these steps:
            </div>
            <div class="line"></div>
            <ion-slides pager="true">
                <ion-slide>
                    <div class="container">
                        <div class="REST">
                            Rest
                        </div>
                        <div class="des1">
                            The injured area for 48 hours.
                        </div>
                        <div>
                            <img src="../assets/leg.png" />
                        </div>
                        <div class="subtitle">
                            Steps
                        </div>
    
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="container">
    
                        <div class="REST">
                            Ice
                        </div>
                        <div class="des1">
                                For 20 minutes at a time, 4 to 8 times per day.
                        </div>
                        <div>
                            <img src="assets/ice.png" />
                        </div>
    
                        <div class="subtitle">
                            Steps
                        </div>
    
    
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="container">
    
                        <div class="REST">
                            Compress
                        </div>
                        <div class="des1">
                                To help reduce swelling.
                        </div>
                        <div>
                            <img src="../assets/blood.png" />
                        </div>
                        <div class="subtitle">
                            Steps
                        </div>
    
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="container">
    
                        <div class="REST">
                                Elevate
                        </div>
                        <div class="des1">
                                The injured limb 6 to 10 inches above the heart.
                        </div>
                        <div>
                            <img src="../assets/rest.png" />
                        </div>
                        <div class="subtitle">
                            Steps
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
    
        </div>
    </ion-content>