<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">
        <div class="title">Runner's Knee</div>
    </div>

    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            Runner’s knee is oftentimes caused due to irritation
            of soft tissues or inner lining of the knee, worn or torn
            cartilage, or strained tendons. This is essentially overuse
            of the knee, causing mild or severe trauma in whatever your
            circumstances may be. Repetitious high-impact activity is usually
            the reasoning for discomforting, aching pain around or behind the kneecap



        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            In most cases, runner’s knee can be healed over time with rest
            and being aware of any activity being done. No physical activity
            is advised while in the healing stages of this case but it can be done
            very lightly if necessary. If pain felt is serious, a medical visit will be
            the best solution so your diagnosis can be verified by a professional.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will reduce any
            tense or sharp felt throughout the knee area.


        </div>
        <br>

        <div>
            <img src="../assets/ruunesexer.png" />
        </div>

    </div>
</ion-content>