<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>symptoms for Runner's knee</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Checkboxes in a List -->
<ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
    <ion-toolbar >
      <ion-button routerLink="/knee" class="footer">Next</ion-button>
    </ion-toolbar>
  </ion-footer>
