<ion-header>
   <ion-toolbar color="primary">
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div class="container">
         <div class="under">
            <div class="words">
               <div class="category">
                  <div class="name">Location: </div>
                  <div class="des">University Of Southern California</div>
               </div>
               <div class="category">
                  <div class="name">Open Hours: </div>
                  <div class="des">Mon-Fri 7:30am-6:30pm</div>
               </div>
            </div>
            <div class="phone">
                  <ion-icon name="call" (click)="presentAlertConfirm()"  > </ion-icon> 
                  </div>
      </div>
      <div class="under">
            <div class="words">
               <div class="category">
                  <div class="name">Location: </div>
                  <div class="des">University Of Southern California</div>
               </div>
               <div class="category">
                  <div class="name">Open Hours: </div>
                  <div class="des">Mon-Fri 7:30am-6:30pm</div>
               </div>
            </div>
            <div class="phone">
                  <ion-icon name="call" (click)="presentAlertConfirm()"  > </ion-icon> 
                  </div>
      </div><div class="under">
            <div class="words">
               <div class="category">
                  <div class="name">Location: </div>
                  <div class="des">University Of Southern California</div>
               </div>
               <div class="category">
                  <div class="name">Open Hours: </div>
                  <div class="des">Mon-Fri 7:30am-6:30pm</div>
               </div>
            </div>
            <div class="phone">
                  <ion-icon name="call" (click)="presentAlertConfirm()"  > </ion-icon> 
                  </div>
      </div><div class="under">
            <div class="words">
               <div class="category">
                  <div class="name">Location: </div>
                  <div class="des">University Of Southern California</div>
               </div>
               <div class="category">
                  <div class="name">Open Hours: </div>
                  <div class="des">Mon-Fri 7:30am-6:30pm</div>
               </div>
            </div>
            <div class="phone">
                  <ion-icon name="call" (click)="presentAlertConfirm()"  > </ion-icon> 
                  </div>
      </div>
      </div>
</ion-content>