.head{
  text-align: center;
  font-size: 24px;
  color: #3F9F31;
  margin-top: 45px;
  margin-bottom: 10px;
  font-weight: 300;
}
.container{
  margin-left: 4%;
  // margin-right: 5%;
}
.box{
  display: inline-block;
  width: 43%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
  border: solid 1px transparent;
  border-radius: 30px;
}
#box1{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/shin.jpg");
  background-position: 50% 75%;
}
#box2{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/knee.png");
  background-position: 50% 100%;
}
#box3{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/feet.jpg");
  background-position: 80% 10%;
}
#box4{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/stress.JPG");
  background-position: 50% 90%;
}
#box5{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/hamstring.png");
  background-position: 50% 75%;
}
#box6{
  background: 
  linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ),
  url("../../assets/achilles.png");
  background-position: 50% 75%;
}
.words{
  text-align: center;
  margin-top: 65px;
  color: white;
  font-size: 18px;
  font-weight: 300;
}
