<ion-header>
    <ion-toolbar color="primary">
        <ion-title>List Of Injuries</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="space"></div>
  <div class="box" routerLink="/checklist">
         <ion-button class="button" color="primary" ><p>Shin Splint</p> </ion-button>
       </div>  
         
 
 <div class="box">
    <ion-button class="button"  color="primary"><p>Runner’s knee</p> </ion-button>
  </div>
  <div class="box">
      <ion-button class="button"  color="primary"><p>Feet aches</p> </ion-button>
  </div>
  <div class="box" >
      <ion-button class="button"  color="primary"><p>Stress fracture</p> </ion-button>
  </div>
  <div class="box" >
      <ion-button class="button"  color="primary"><p>Muscle pull</p> </ion-button>
  </div>
  <div class="box" >
      <ion-button class="button"  color="primary"><p>Achilles tendinopathy</p> </ion-button>
  </div>
</ion-content>
    
      
