<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Recovery</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="head">Choose Your Injury</div>
    <div class="container">
        <div class="box" id="box1" routerLink="/shin-splints">
            <p class="words">Shin Splints</p>
        </div>
        <div class="box" id="box2" routerLink="/knee">
            <p class="words">Runner's Knee</p>
        </div>
        <div class="box" id="box3" routerLink="/aches">
            <p class="words">Feet Aches</p>
        </div>
        <div class="box" id="box4" routerLink="/stress">
            <p class="words">Stress Fracture</p>
        </div>
        <div class="box" id="box5" routerLink="/hamstring">
            <p class="words">Hamstring Strain</p>
        </div>
        <div class="box" id="box6" routerLink="/achilles">
            <p class="words">Achilles</p>
        </div>
    </div>

</ion-content>