<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">
        <div class="title">Shin Splints</div>
    </div>
    
    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            Pain or discomfort that runs down the tibia (shin bone) that is caused due to constant intense activity,
            overworking muscles, tendons, and bone tissue. Shin splints are gradually developed over time as the runner
            is either beginning to run great distances or an abrupt change in their former routine is p
            resented.


        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            Experts advise runners to either decrease the amount of
            activity done or to stop running entirely for awhile until the
            pain is at ease. When a return is possible, runners must remember to
            build up their training rather than going back to harsh activity right after.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will reduce any 
            swelling present and speed up the healing process:


        </div>
        <br>

        <div>
                <img src="../assets/rice.png" />
        </div>

    </div>    
</ion-content>