<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">
        <div class="title">Stress Fracture</div>
    </div>

    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            A stress fracture is a small crack in the surface of a bone,
            essentially affecting your overall body foundation. This will
            play restrictions in movement as a whole, as stress fractures
            often occur when there is an increase in the intensity and volume
            of our training.



        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            Since they are not your average injuries that can
            be treated by oneself, a proper x-ray or bone scan
            should be done to provide treatment and doctor recommendations.
            After aided by the doctor, one is not to apply any added-on
            pressure to the area in healing to prevent making the injury
            worse. Exercises targeting different parts of the body can be
            one however if desired.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will reduce any
            inflammation in the targeted area after doctor advisement.


        </div>
        <br>

        <div>
            <img src="../assets/stressexer.png" />
        </div>

    </div>
</ion-content>