<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">
        <div class="title">Hamstring Strain</div>
    </div>

    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            The quadricep and hamstring are located in the different
            parts of your leg; the quadricep being a group of four
            muscles in front of your thigh connecting to your kneecap
            and the hamstring being a group of three muscles that are along
            the back of your thigh.



        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            In cases of both injuries, activity is not
            recommended to continue if servere and a change
            of routine is advised. Whether that is more stretching
            or exercising before physical activity, more caution is
            to be placed in those specific areas.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will
            some of the stress felt throughout



        </div>
        <br>

        <div>
            <img src="../assets/hamstringexer.png" />
        </div>

    </div>
</ion-content>