<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>Injury</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pic">    
        <div class="title">Achilles </div>
    </div>

    <div class="container">
        <div class="subtitle">
                Symptoms
        </div>
        <div class="des">
            Achilles tendinopathy is a condition that causes pain,
            swelling, and stiffness of the Achilles tendon, the cord
            that joins your heel bone to your calf muscles. The Achilles
            tendon allows the ability to get and push off the ground,
            resulting when the demand placed on the Achilles tendon is
            greater than its ability to function. Some of the symptoms
            felt include heel stiffness, swelling, or tenderness.




        </div>
        <div class="subtitle">
            Treatments
        </div>
        <div class="des">
            Achilles tendinopathy is usually caused by
            overuse and built up inflammation in the heel,
            so a break from activity is needed to fully recover
            from injury. Depending on its severity, a surgery could
            be done to treat it. Three to six months is generally the
            amount it takes to recover from an injured Achilles tendon.
            <br>
            <br>
            <br>
            The simple self care treatment pictured below will will alleviate some of
            tense pain felt in the heel



        </div>
        <br>

        <div>
            <img src="../assets/achexer.png" />
        </div>

    </div>
</ion-content>